{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
  <section class="discover">
    <div class="grid-container">
      <div class="grid-x align-middle">
        <div class="edito grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6">
                <h1 class="edito__title small-12">Création</h1>
            </div>
            <div class="cell small-12 medium-6">
                <p class="edito__text">En 2018, le président des Etats-Unis d’Amérique, Donald Trump, annonçait la création d’une force spatiale armée au Pentagone. C’est en tant qu’une des plus grandes puissances mondiales, et alliée historique des Etats-Unis, que la France a choisi de développer quelques années plus tard une institution similaire sur son sol. Le Corps Spatial des Armées Françaises a ainsi vu le jour en 2032, sous la tutelle des ministères de Défense & sécurité, mais également de Recherche & développement.
                </p>
            </div>
        </div>  
        <div class="edito grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6 medium-order-2">
                <h1 class="edito__title small-12">Valeurs</h1>
            </div>
            <div class="cell small-12 medium-6 medium-order-1">
                <p class="edito__text">Respect, mérite, loyauté, ordre, courage et persévérance comptent parmi les valeurs les plus proches de notre coeur de métier.
                </p>
            </div>
        </div>  
        <div class="edito grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6">
                <h1 class="edito__title small-12">Fonctions</h1>
            </div>
            <div class="cell small-12 medium-6">
                <p class="edito__text">La fonction primordiale du CSAF est de protéger la nation et défendre ses intérêts stratégiques. Ceci passe par la surveillance spatiale, les renseignements, l’encadrement des dispositifs scientifiques mais également industriels dans l’espace, ou encore l’exploration spatiale pour faire avancer la recherche scientifique dans ce domaine.

                </p>
            </div>
        </div>  
        <div class="edito grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-6 medium-order-2">
                <h1 class="edito__title small-12">Départements</h1>
            </div>
            <div class="cell small-12 medium-6 medium-order-1">
                <p class="edito__text">Le CSAF est composé de cinq départements : Intelligence géospatiale, Ingéniere spatiale, Techniciens de l’air, Escadres armées, ainsi que Logistique & maintenance.
                </p>
            </div>
        </div>  

      </div>
  </section>
{% endblock %}
