{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="wrapper">

  <section class="discover">
    <div class="grid-container">
      <div class="grid-x align-middle">
        <h2 class="discover-title small-12 medium-12 large-12">NOTRE MISSION</h2>

        <div class="discover-stalliteImg-container small-12 medium-7 large-7">
          <img class="discover-satelliteImg" src="build/img/satellite.png" alt="" />
        </div>

        <div class="discover-text-img-container small-12 medium-5 large-5">
          <p class="discover-text-img ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="discover-block2-container">
          <div class="grid-x align-middle">
            <div class="discover-stalliteImg-container small-12 medium-7 large-7 medium-order-2">
              <img class="discover-satelliteImg" src="build/img/astronaut.png" alt="" />
            </div>
            <div class="discover-text-img-container small-12 medium-5 large-5 medium-order-1">
              <p class="discover-text-img ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
