{% extends 'admin.html.twig' %}

{% block title %}Edit Jobs{% endblock %}

{% block body %}
    <h1>Edit Jobs</h1>

    {{ include('admin/jobs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('jobs_index') }}">back to list</a>

    {{ include('admin/jobs/_delete_form.html.twig') }}
{% endblock %}
