{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <p>this is the content of the "<span></span>" page</p>
    <script>document.querySelector("span").textContent = "{{ controller_name }}".replace("Controller", "");</script>
</div>
{% endblock %}
