{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block homeClass %}home{% endblock %}
{% block homeTitle %}
  <h1 class="PageHeader__title">Corps spatial de l'armée française</h1>
{% endblock %}

{% block body %}
<div class="grid-container">
  <div class="grid-x align-center">
      <div class="edito grid-x grid-padding-x align-middle">
          <div class="cell small-12 medium-6">
              <h2 class="edito__title small-12">
                Nos missions
              </h2>
          </div>

          <div class="cell small-12 medium-6">
              <p class="edito__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore itaque sint porro sed excepturi voluptatum obcaecati tempora veritatis sunt aspernatur ad, id quae rem ullam, magni non a officiis?</p>
              <a href="/decouvrir-le-corps-spatial" class="callToAction">En savoir plus</a>
          </div>
      </div>
  </div>

  <h2 class="sectionTitle">Des opportunités de carrières</h2>
  <div class="bloc grid-x grid-padding-x">
    <div class="jobCard cell small-12 large-3">
      <a href="#" class="jobCard__link">
        <img src="https://fakeimg.pl/250x100/" alt="" class="jobCard__img">
      </a>
    </div>
    <div class="jobCard cell small-12 large-3">
      <a href="#" class="jobCard__link">
        <img src="https://fakeimg.pl/250x100/" alt="" class="jobCard__img">
      </a>
    </div>
    <div class="jobCard cell small-12 large-3">
      <a href="#" class="jobCard__link">
        <img src="https://fakeimg.pl/250x100/" alt="" class="jobCard__img">
      </a>
    </div>
    <div class="jobCard cell small-12 large-3">
      <a href="#" class="jobCard__link">
        <img src="https://fakeimg.pl/250x100/" alt="" class="jobCard__img">
      </a>
    </div>

    <div class="cell small-12">
      <a href="/metiers" class="callToAction">Voir toutes les offres</a>
    </div>
    
  </div>

  <h2 class="sectionTitle">Le parcours de recrutement</h2>
  <div class="bloc grid-x grid-padding-x">
    <div class="home_recruitement recrutement_container submit_container cell small-12 large-4">
      <div class="recrutement_img submit_img">
          <img src="/img/Submit1.svg" alt="rejognez-nous">
      </div>
      <h2 class="recrutement_title submit_title">Je soumets mon application</h2>
    </div>

    <div class="home_recruitement recrutement_container rendez-vous_container cell small-12 large-4">
      <div class="recrutement_img submit_img">
          <img src="/img/Calendar2.svg" alt="prendre rendez-vous">
      </div>
      <h2 class="recrutement_title rendez-vous_title">J'ai rdv avec un officier</h2>
    </div>

    <div class="home_recruitement recrutement_container tests_container cell small-12 large-4">
      <div class="recrutement_img test_img">
          <img src="/img/Tests3.svg" alt="Tests">
      </div>
      <h2 class="recrutement_title tests_title">Je passe les tests</h2>
    </div>


    <div class="cell small-12">
      <a href="/metiers" class="callToAction">Plus d'informations</a>
    </div>
    
  </div>

  <h2 class="sectionTitle">Restez informormé sur l'actualité du corps spatiale</h2>
  <div class="bloc grid-x grid-padding-x">
    <div class="cell small-12">
      <div class="articleBox grid-x">
        <div class="small-12 medium-6 articleBox__imgContainerFirst">
          <a href="#">
            <img src="https://fakeimg.pl/250x100/" alt="" class="articleBox__img">
          </a>
        </div>
        <div class="small-12 medium-6">
          <div class="articleBox grid-x">
            <div class="small-12 articleBox__imgContainerLeft">
              <a href="#">
                <img src="https://fakeimg.pl/250x100/" alt="" class="articleBox__img">
              </a>
            </div>
            <div class="small-12 articleBox__imgContainerLeft">
              <a href="#">
                <img src="https://fakeimg.pl/250x100/" alt="" class="articleBox__img">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cell small-12">
      <a href="/actualites" class="callToAction">Plus d'informations</a>
    </div>
    
  </div>
</div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/header.js') }}"></script>
{% endblock %}

