.discover{

  &-title{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 7%;
  color:white;
  }
  &-block-container{
  }
  &-block2-container{
    padding-top: 100px;
  }
  &-text-img-container{

  }
  &-satelliteImg{

  }
  &-text-img{
    padding-top: 20px;
  }
}
