.jobs{

&-box-container{
  border : 1px solid #084887;
  border-radius: 5px;
  margin-bottom: 10px;
}
&-box-text{
  padding: 20px;
  margin: 0;
  text-align: center;
}
}


// some stuff to make my work easier

// .marginAuto{
//   display: table;
//   margin: 0 auto;
// }
//
// .textCenter{
//   text-align: center;
// }
