.background {
  background: url('/img/satellite.png')bottom right no-repeat;
}

.recrutement {
  .margin_bottom {
    margin-bottom: 10em;
  }
  .parcours_recrutement {
    &_title {}
    &_text {}
  }
  .submit {
    &_container {
      position: relative;
    }
    &_img {
      width: 50%;
      @media screen and (min-width: 64em) {
        width: 100%;
      }
    }
    &_title {
      width: 100%;
      font-size: 25px;
      position: absolute;
      bottom: 30%;
    }
  }
  .rendez-vous {
    &_container {
      position: relative;
    }
    &_img {
      width: 50%;
      @media screen and (min-width: 64em) {
        width: 100%;
      }
    }
    &_title {
      width: 100%;
      font-size: 25px;
      position: absolute;
      bottom: 30%;
    }
  }
  .tests {
    &_container {
      position: relative;
    }
    &_img {
      width: 50%;
      @media screen and (min-width: 64em) {
        width: 100%;
      }
    }
    &_title {
      width: 100%;
      font-size: 25px;
      position: absolute;
      bottom: 30%;
    }
  }
}
