.background {
  background: url('/img/satellite.png') bottom right no-repeat;
}

.recrutement {
  &_section {
    text-align: center;
    @media screen and (min-width: 64em) {
      text-align: left;
    }
  }
  &_container {
    position: relative;
  }
  &_img {
    width: 50%;
    margin: 0 auto;
    @media screen and (min-width: 64em) {
      width: 100%;
      margin: 0;
    }
  }
  &_title {
    margin: 0 auto;
    @media screen and (min-width: 64em) {
      position: absolute;
      font-size: 25px;
      bottom: 30%;
    }
  }
  .margin_bottom {
    margin-bottom: 4em;
    @media screen and (min-width: 64em) {
      margin-bottom: 0;
    }
  }
}

.home_recruitement {
  text-align: center;
  .recrutement_title {
    @media screen and (min-width: 64em) {
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
