@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600');
@import 'foundation.min';
body {
  background: #000000;
  color: #F7F5FB;
  height: 100vh;
  overflow-x: hidden;
  overflow: auto;
  font-size: 18px;
  font-family: 'Rajdhani', sans-serif;
}

.wrapper {
  padding-top: 80px;
}

.Navigation {
  font-size: 16px;
  position: fixed;
  padding: 1em 0;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Rajdhani', sans-serif;
  background: #000;
  color: #ffffff;
  z-index: 6;
  &__logo {
    position: relative;
    z-index: 8;
  }
  &__logoLink {
    font-size: 24px;
    font-weight: bold;
  }
  &__menuContainer {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 0;
    z-index: -2;
    opacity: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity 0.26s ease-in, height 0.26s 0.2s;
    background: rgba(0, 0, 0, 0.9);
    @media screen and (min-width: 64em) {
      overflow: auto;
      position: static;
      height: auto;
      opacity: 1;
      z-index: 1;
    }
  }
  &__toggle {
    display: none;
    &:checked~.Navigation__menuContainer {
      height: 100vh;
      z-index: 7;
      opacity: 1;
    }
    &:checked~.Navigation__menuContainer .Navigation__menu {
      transform: translateX(0%);
      opacity: 1;
    }
    &:checked~.Navigation__menuContainer .Navigation__menu .Navigation__item {
      opacity: 1;
    }
  }
  &__toggleLabel {
    font-size: 16px;
    padding: 0.5em 0;
    color: #ffffff;
    position: relative;
    z-index: 5;
  }
  &__item {
    display: block;
    margin: 1em 0;
    text-align: center;
    font-size: 28px;
    opacity: 0.2;
    width: 100%;
    @media screen and (min-width: 64em) {
      font-size: 16px;
      margin: 0.5em 1em;
      width: auto;
      opacity: 1;
      display: inline-block;
      text-align: right;
    }
    &:nth-child(1) {
      transition: opacity 0.26s 0.26s;
    }
    &:nth-child(2) {
      transition: opacity 0.26s 0.4s;
    }
    &:nth-child(3) {
      transition: opacity 0.26s 0.54s;
    }
    &:nth-child(4) {
      transition: opacity 0.26s 0.68s;
    }
    &:nth-child(1):hover .Navigation__itemLink {
      transition: color 0.26s 0s;
    }
    &:nth-child(2):hover .Navigation__itemLink {
      transition: color 0.26s 0s;
    }
    &:nth-child(3):hover .Navigation__itemLink {
      transition: color 0.26s 0s;
    }
    &:nth-child(4):hover .Navigation__itemLink {
      transition: color 0.26s 0s;
    }
  }
  &__itemLink {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-shadow: rgba(255, 255, 255, 0.3);
    }
  }
  &__menu {
    width: 100%;
    margin: 5em 0;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 0.26s ease-in 0.1s;
    opacity: 0;
    @media screen and (min-width: 64em) {
      margin: 0;
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.Navigation__toggleLabel {
  cursor: pointer;
  z-index: 999;
}

/* Hide the Checkbox */

.menu-input {
  position: absolute;
  opacity: 0;
  /* 	display: none; */
}

/*
	 Base menu button
	 styles and transitions
*/

.Navigation__toggleLabel>span,
.Navigation__toggleLabel>span::before,
.Navigation__toggleLabel>span::after {
  content: '';
  width: 2.5em;
  height: 0.3em;
  display: block;
  position: relative;
  transition: background-color 0s ease-in-out 0.2s, top 0.1s ease-in-out 0.25s, transform 0.1s ease-in-out 0.1s;
  overflow: visible;
}

/* To increase size of label */

.Navigation__toggleLabel>span {
  background-color: white;
}

/* Positioning top bar */

.Navigation__toggleLabel>span::before {
  top: -0.6em;
  right: -0.6em;
  width: 75%;
  background-color: white;
}

/* Positioning bottom bar */

.Navigation__toggleLabel>span::after {
  width: 75%;
  right: -0.6em;
  top: 0.3em;
  background-color: white;
}

/*
	 Transition times for
	 when checked
*/

.Navigation__toggle:checked+.Navigation__toggleLabel>span,
.Navigation__toggle:checked+.Navigation__toggleLabel>span::before,
.Navigation__toggle:checked+.Navigation__toggleLabel>span::after {
  transition: background-color 0s linear 0.1s, top 0.1s linear 0s, transform 0.1s linear 0.1s;
}

/* Styles when checked */

.Navigation__toggle:checked+.Navigation__toggleLabel>span {
  background-color: transparent;
}

.Navigation__toggle:checked+.Navigation__toggleLabel>span::before {
  top: 0rem;
  transform: rotate(45deg);
  background-color: white;
}

.Navigation__toggle:checked+.Navigation__toggleLabel>span::after {
  top: -0.3em;
  transform: rotate(-45deg);
  background-color: white;
}

.engagez_vous {
  display: inline-block;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  padding: 0.5em 1em;
  margin-top: 1em;
  background: #084887;
  color: #F7F5FB;
  border-radius: 6px;
  &:hover {
    color: #F7F5FB;
  }
}

.PageFooter {
  padding: 2em 0 0 0;
  background-color: #084887;
  text-align: center;
  .footer_menu {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 2em;
    .footer_item {
      margin-right: 2em;
      list-style: none;
      display: inline-block;
      &:hover {
        fill: #F7F5FB;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer_mentions {
    display: inline-block;
    color: #F7F5FB;
    font-weight: 500;
    &:hover {
      color: #F7F5FB;
    }
  }
}

@keyframes shine {
  0% {
    color: rgba(255, 255, 255, 0.3);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

.PageHeader {
  height: 40vh;
  background: #000;
  background: url('/img/blue.png') center center no-repeat;
  background-size: contain;
}

.edito {
  height: auto;
  margin-bottom: 2em;
  @media screen and (min-width: 64em) {
    min-height: 50vh;
    text-align: left;
  }
  &__title {
    text-align: center;
    padding: 1em 0;
    color: #ffffff;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 40px;
    font-weight: bold;
    @media screen and (min-width: 64em) {
      font-size: 40px;
    }
  }
  &__text {
    text-align: left;
  }
}

.header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #000;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  &__title {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;
    @media screen and (min-width: 64em) {
      font-size: 68px;
    }
  }
  &__hover {
    position: relative;
    z-index: 1;
  }
  &__text {
    color: #ffffff;
    font-size: 16px;
  }
}

.progress {
  position: fixed;
  right: 5.5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  text-align: center;
  font-size: 32px;
  &__bar {
    margin: 0.5em 0;
    span {
      display: inline-block;
      height: 30vh;
      width: 2px;
      background: #ffffff;
    }
  }
  &__number {
    transform: rotate(90deg);
    &__isActive {
      color: #074887;
    }
  }
}

@import 'recrutement';
@import './description.scss';
@import './jobs.scss';
@import 'article';
@import 'contact';
