{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br><br><br><br>
    {% if application %}
        <div>Application for {{ application.firstName }} {{ application.lastName }}</div>
    {% endif %}
    <form action="">weee form</form>
{% endblock %}
