{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<section class="login">
<div class="grid-container">
<div class="small-12">
    <h2 class="login-title small-12 text-center ">Se connecter</h2>
    {# if an error occured while authenticating, show the error message #}
    {% if error %}
        <p class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}
    {# login form #}
    <form class="grid-x align-center" action="{{ path('login') }}" method="post">
      <div class="login-login-container grid-x small-12 medium-7 ">
        <label class="login-username small-12" for="username">Username:</label>
        {# do not change the name property of any input #}
        <input class="contact_formulaire_input login-username-input small-12" type="text" id="username" name="_username" value="{{ lastUsername }}" />
        </div>
        <div class="login-password-container grid-x small-12 medium-7">
        <label class="login-password small-12"for="password">Password:</label>
        <input class="contact_formulaire_input login-password-input small-12" type="password" id="password" name="_password" />
        </div>
        <input type="hidden" name="_target_path" value="/mon-compte" />
        <div class="small-12 grid-x align-center">
          <button type="submit" class="callToAction login-login-btn small-1">Login</button>
        </div>
    </form>
  </div>
    </div>
    </section>
{% endblock %}
