{% extends 'base.html.twig' %}

{% block title %}Hello {{ controllerName }}!{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x ArticlePage">
            <div class="ArticlePage__infoContainer small-12">
                <h1 class="ArticlePage__title">
                    Titre de l'article
                </h1>
                <p class="ArticlePage__info"><a href="#">Nom de l'auteur</a>, publié le</p>
            </div>

            <div class="ArticlePage__imgContainer small-12">
                <div class="ArticlePage__imgContainerContainer">
                    <img src="https://fakeimg.pl/250x500/" alt="" class="ArticlePage__img small-12">
                </div>
            </div>

            <div class="ArticlePage__content small-12">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sit obcaecati tenetur, molestias adipisci beatae quod distinctio eos, officiis, eveniet explicabo nam ipsa. Qui, iusto! Earum dignissimos vel odio perferendis.
                Illo cumque, eveniet fuga natus ipsum ex quam sunt amet ducimus? Dolore quaerat nihil eligendi perspiciatis dolor iste tempora ratione quae temporibus deleniti! Animi aut quasi aliquid beatae eum ipsam!
                Sint, delectus. In quisquam perferendis nihil at nam neque ipsum accusamus placeat fugit! Dolore, rem? Ad mollitia iure fugiat, enim, cum beatae laborum deserunt officiis id suscipit vel dicta repellendus!
                Ducimus porro quisquam a omnis dignissimos. In praesentium veniam sint soluta, eligendi magnam laborum ullam quod distinctio voluptate corrupti nisi dolores dolor, impedit, incidunt neque dolorem inventore cum veritatis? Est.
                Nostrum veniam non ducimus, dolorum, voluptate placeat ipsum numquam atque, dolores rem ullam animi illo sed distinctio odit cumque vitae provident. A, voluptas vero. Iste, similique. Sapiente laudantium esse necessitatibus.
                Illo sapiente beatae nesciunt tempora veniam? Consectetur ipsam eaque quis vitae natus porro placeat ex aliquid inventore veniam debitis, quam autem molestiae illum tempore culpa nesciunt quibusdam dicta. Culpa, reprehenderit.
                Fugit labore voluptas, unde, id excepturi aut voluptate odit necessitatibus voluptatem ut veniam? Officiis harum exercitationem nihil accusamus assumenda eius voluptatum, ad voluptate earum nostrum nobis, veritatis, amet eum rem.
                Cum nesciunt aliquam omnis culpa accusantium aut officia quos nostrum incidunt et excepturi asperiores repellendus pariatur nulla dolor tempora, tenetur corrupti inventore recusandae. Debitis soluta, voluptas doloribus facere quos iusto.
                Dolor quos natus tempora est tenetur laborum commodi fugit ab, aperiam dolores possimus alias corrupti necessitatibus beatae nisi consequuntur omnis, illum odit temporibus. Harum veniam mollitia provident, aspernatur sit fugit.
                Debitis, aliquam modi! Ullam saepe dolor architecto corrupti, sint quae blanditiis eius aut nobis nemo assumenda maxime numquam nulla. Provident pariatur reiciendis, molestiae quis possimus itaque animi vitae praesentium? Amet?
                Incidunt officiis reiciendis illum? Molestias inventore, explicabo voluptatibus ad hic enim iure consequatur dolores, dolore quisquam corrupti minus aperiam amet commodi, cumque optio facilis vero earum voluptatum porro nulla blanditiis?
                Dignissimos optio qui molestiae repellendus molestias non incidunt obcaecati tempore id perspiciatis animi earum delectus et ipsa, amet blanditiis iusto? Dolorem, dolore sint maiores dolorum ipsam atque ad accusantium consectetur.
                Libero, molestiae pariatur. Et illo sapiente, itaque eaque officiis, perferendis deleniti odio ratione voluptates soluta aspernatur a. Totam magnam exercitationem assumenda dolor eos labore commodi consectetur neque? Eius, totam eveniet!
                Quis ipsa voluptatum nemo sunt dolorum ducimus enim culpa, iusto veniam? Culpa, eius nam reiciendis fugit ratione cupiditate necessitatibus sequi assumenda pariatur, quas, distinctio earum sint fugiat dignissimos laudantium sunt.
                Suscipit magni, veniam est repellendus placeat temporibus architecto hic ad deserunt aut quisquam fuga sunt sed nisi quasi harum corporis assumenda possimus odit natus. Quos labore delectus eius vitae accusantium.
                Iusto id ipsa, similique consequatur adipisci totam exercitationem voluptas laboriosam a accusamus incidunt animi dolor atque inventore repellat cumque dignissimos dolore facere quo vel. Quibusdam culpa non earum sit cupiditate?
                Quae ipsa praesentium nemo aut saepe repellat earum, provident libero, esse asperiores in quaerat dignissimos veniam quasi debitis, nesciunt similique molestias corrupti perferendis voluptate sed quibusdam? Officia ex asperiores ab.
                Facere dolorem tenetur quod nesciunt? Ab earum quidem dolores consectetur totam dolorum quibusdam tempora et obcaecati cum repudiandae eius, pariatur deserunt sequi repellat harum aut at sint molestias recusandae impedit!
                Inventore nemo cumque rem dicta consectetur impedit similique voluptatem aperiam aliquid assumenda tenetur unde, voluptas dolor saepe nulla. Odit, iure hic. Ullam, eaque architecto tempora ipsum culpa optio alias quam?
                Consequuntur, adipisci laudantium architecto similique dolore eius aut qui excepturi quos temporibus molestiae deserunt autem, minima voluptates, ipsum illo rem facilis? Vel sunt laborum ipsam voluptatem. Laboriosam necessitatibus distinctio corrupti!
            </div>
            
                
            </div>
        </div>
    </div>
{% endblock %}
