{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="background">
    <div class="grid-container">
        <div class="contact grid-x align-center">
            <div class="edito grid-x grid-padding-x align-middle">
                <div class="cell small-12 medium-6">
                    <h1 class="edito__title small-12">Contact</h1>
                </div>
                <div class="cell small-12 medium-6">
                    <p class="edito__text">Votre travail consiste à analyser des données d’un haut intérêt géostratégique, au profit des décideurs politiques et militaires. Votre évaluation de la situation militaire et de la situation sécuritaire permet une protection accrue de nos soldats sur le terrain et contribue à défendre notre nation contre la menace ennemie.</p>
                </div>
            </div>  

            <div class="contact_img">
                <img src="https://fakeimg.pl/643x279/">
            </div>
            
            <section class="contact_coordonnees margin_bottom submit cell small-12 large-12">
                <h2 class="sectionTitle contact_title contact_coordonnees_title">Coordonnées du siège du corps spatial de l'armée francaise</h2>
                <adress class="contact_coordonnees_adress">
                    <p class="contact_coordonnees_text">15 rue du Faubourg Saint-Honoré</p>
                    <p class="contact_coordonnees_text">75008 Paris</p>
                    <p class="contact_coordonnees_text">FRANCE</p>
                    <p class="contact_coordonnees_text">+33 140 876 38</p>
                </adress>
            </section>

            <section class="contact_formulaire margin_bottom submit cell small-12 large-12">
                <h2 class="sectionTitle contact_title contact_formulaire_title">Besoin d'informations ? envoyez-nous un message, nous vous répondrons sous 72h</h2>
                <form action="">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x">
                            <div class="small-12 large-6 cell">
                                <label for="lastname">Nom</label>
                                <input class="contact_formulaire_input" type="text" id="lastname" placeholder="Votre nom">
                            </div>
                            <div class="small-12 large-6 cell">
                                <label for="firstname">Prénom</label>
                                <input class="contact_formulaire_input" type="text" id="firstname" placeholder="Votre Prénom">
                            </div>
                        </div>

                        <div class="grid-x grid-padding-x">
                            <div class="small-12 large-6 cell">
                                <label for="email">e-mail</label>
                                <input class="contact_formulaire_input" type="email" id="email" placeholder="Votre email">
                            </div>
                            <div class="small-12 large-6 cell">
                                <label for="phone">Numéro de téléphone</label>
                                <input class="contact_formulaire_input" type="tel" id="phone" placeholder="Votre numéro de téléphone">
                            </div>
                        </div>

                        <div class="grid-x grid-padding-x">
                            <div class="small-12 cell">
                            <label for="message">Message</label>
                            <textarea class="contact_formulaire_input" name="message" id="message" placeholder="Votre message"></textarea>
                            </div>
                        </div>

                        <div class="grid-x grid-padding-x align-center">
                                <input class="callToAction" type="submit" placeholder="Envoyer">
                        </div>
                        
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}
