<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            {% block style %}{% endblock %}
        </style>
        <link rel="stylesheet" href="{{ '/build/css/admin.css' }}" />
    </head>
    <body>
        {% block nav %}
        <div class="Navigation">
            <div class="grid-container">
                <div class="grid-x align-justify align-middle">

                    <div class="Navigation__logo cell small-5 large-3">
                        <a href="/" class="Navigation__logoLink">CSAF</a>
                    </div>

                    <input type="checkbox"  id="burger" v-model="isChecked" @change="disableScrollify" class="Navigation__toggle cell small-1">
                    <label for="burger" class="Navigation__toggleLabel cell small-1 hide-for-large"><span></span></label>

                    <nav class="Navigation__menuContainer cell small-12 large-9">
                        <ul class="Navigation__menu grid-x align-right">

                            <li class="Navigation__item" >
                                <a href="/admin/candidatures" class="Navigation__itemLink">Les candidatures</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/admin/metiers" class="Navigation__itemLink">Nos métiers</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/admin/actualites" class="Navigation__itemLink">Les actualitées</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/" class="Navigation__itemLink">Déconnection</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="wrapper">
            <div class="grid-container">
            {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}
            <footer class="PageFooter">
                <div class="grid-container">
                    <div class="grid-x align-center">
                        <div class="footer_text cell small-12">
                            <a class="footer_mentions" href="*">
                                <p>Mentions légales</p>
                            </a>
                            <p class="footer_copyright">© Corps spatial de l'armée française</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
