<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            {% block style %}{% endblock %}
        </style>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <div id="app">Oups... Problème</div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
