<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            {% block style %}{% endblock %}
        </style>
        <link rel="stylesheet" href="{{ '/build/css/app.css' }}" />
    </head>
    <body>
        {% block nav %}
           <div class="Navigation">
            <div class="grid-container">
                <div class="grid-x align-justify align-middle">

                    <div class="Navigation__logo cell small-5 large-3">
                        <a href="/" class="Navigation__logoLink">CSAF</a>
                    </div>      
                    
                    <input type="checkbox"  id="burger" v-model="isChecked" @change="disableScrollify" class="Navigation__toggle cell small-1">
                    <label for="burger" class="Navigation__toggleLabel cell small-1 hide-for-large"><span></span></label>

                    <nav class="Navigation__menuContainer cell small-12 large-9">
                        <ul class="Navigation__menu grid-x align-right">
                        
                            <li class="Navigation__item" >
                                <a href="/decouvrir-le-corps-spatial" class="Navigation__itemLink">Découvrir</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/actualites" class="Navigation__itemLink">Actualités</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/metiers" class="Navigation__itemLink">Métiers</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/processus-de-recrutement" class="Navigation__itemLink">Processus de recrutement</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/engagez-vous" class="Navigation__itemLink">Engagez-vous</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/contactez-nous" class="Navigation__itemLink">Contactez-nous</a>
                            </li>

                            <li class="Navigation__item" >
                                <a href="/login"
                                class="Navigation__itemLink">Mon compte</a>
                            </li>
                        </ul> 
                    </nav>
<!--                    
                        <li class="Navigation__item" >
                            <a href="/login"
                            class="Navigation__itemLink">Mon compte</a>
                        </li>
                    </ul>
                </nav>
-->
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="wrapper">
            <header class="PageHeader">
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <footer>
                this is the footer
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
