<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            {% block style %}{% endblock %}
        </style>
        <link rel="stylesheet" href="{{ '/build/css/app.css' }}" />
    </head>
    <body>
        {% block nav %}
           <div class="Navigation">
            <div class="grid-container">
                <div class="grid-x align-justify align-middle">

                    <div class="Navigation__logo cell small-5 large-1">
                        <a href="/" class="Navigation__logoLink">CSAF</a>
                    </div>      

                    <a href="/engagez-vous" class="engagez_vous inline-block">Rejoignez-nous</a>

                    <input type="checkbox"  id="burger" v-model="isChecked" @change="disableScrollify" class="Navigation__toggle cell small-1">

                    <label for="burger" class="Navigation__toggleLabel cell small-1 hide-for-large"><span></span></label>


                        <nav class="Navigation__menuContainer cell small-12 large-8">
                            <ul class="Navigation__menu grid-x align-right">
                            
                                <li class="Navigation__item" >
                                    <a href="/decouvrir-le-corps-spatial" class="Navigation__itemLink">Notre mission</a>
                                </li>

                                <li class="Navigation__item" >
                                    <a href="/actualites" class="Navigation__itemLink">Actualités</a>
                                </li>

                                <li class="Navigation__item" >
                                    <a href="/metiers" class="Navigation__itemLink">Métiers</a>
                                </li>

                                <li class="Navigation__item" >
                                    <a href="/processus-de-recrutement" class="Navigation__itemLink">Parcours de recrutement</a>
                                </li>

                                <li class="Navigation__item" >
                                    <a href="/contactez-nous" class="Navigation__itemLink">Contactez-nous</a>
                                </li>

                                <li class="Navigation__item" >
                                    <a href="/mon-compte" class="Navigation__itemLink">Mon compte</a>
                                </li>
                            </ul> 
                        </nav>
                    
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="wrapper">
            <header class="PageHeader {% block homeClass %}{% endblock %}">
                {% block homeTitle %}
                {% endblock %}
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block footer %}
            <footer class="PageFooter">
                <div class="grid-container">
                    <div class="grid-x align-center">
                        <ul class="footer_menu cell  small-12">
                            <li class="footer_item">
                                <a class="footer_itemlink" href="">
                                    <img src="/img/FACEBOOK.svg" alt="Facebook">
                                </a>
                            </li>
                            <li class="footer_item">
                                <a class="footer_itemlink" href="">
                                    <img src="/img/TWITTER.svg" alt="Twitter">
                                </a>
                            </li>
                            <li class="footer_item">
                                <a class="footer_itemlink" href="">
                                    <img src="/img/INSTAGRAM.svg" alt="Instagram">
                                </a>
                            </li>
                            <li class="footer_item">
                                <a class="footer_itemlink" href="">
                                    <img src="/img/YOUTUBE.svg" alt="Youtube">
                                </a>
                            </li>
                        </ul>
                        <div class="footer_text cell small-12">
                            <a class="footer_mentions" href="*">
                                <p>Mentions légales</p>
                            </a>
                            <p class="footer_copyright">© Corps spatial de l'armée française</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
