{% extends 'base.html.twig' %}

{% block title %}Recrutement process{% endblock %}
{# {% block title %}Hello {{ controllerName }}!{% endblock %} #}

{% block body %}
<div class="background">
    <div class="grid-container">
        <div class="recrutement grid-x align-center">
            <section class="margin_bottom parcours_recrutement cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <h1 class="parcours_recrutement_title cell small-12 large-3">Le parcours de recrutement</h1>
                    <div class="parcours_recrutement_text cell small-12 large-5">
                        <p>Minutieusement détaillées, elles vous disent tout du voyage décrit nos articles : Hôtels, restaurants, boutiques, musée, shopping, The Place to be et aussi quelle est la meilleure compagnie aérienne pour rejoindre par exemple  San Francisco, quelles sont les meilleures dates, comment aller à pied de Nob Hill au Golden Gate en passant par des ruelles remplies de street art méconnus du grand public, arriver pile à l'heure pour être dans l'axe du soleil sur le 3ème pilier et réussir à coup sûr la photo du siècle tout en s'émerveillant de la beauté de la Bay... ça, c'est Une Année de Voyages !</p>
                    </div>
                </div>
            </section>

            <section class="margin_bottom submit cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="submit_container cell small-12 large-6">
                        <div class="submit_img">
                            <img src="/img/Submit1.svg" alt="rejognez-nous">
                        </div>
                        <h2 class="title_section submit_title">Je soumets mon application</h2>
                    </div>
                    <div class="submit_text cell small-12 large-6">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                        <input type="submit" name="rejoindre" id="sumbit_text_input" value="REJOIGNEZ-NOUS">
                    </div>
                </div>
            </section>

            <section class="margin_bottom rendez-vous cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="rendez-vous_text cell small-12 large-6">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                    </div>
                    <div class="rendez-vous_container cell small-12 large-6">
                        <div class="submit_img">
                            <img src="/img/Calendar2.svg" alt="prendre rendez-vous">
                        </div>
                        <h2 class="rendez-vous_section rendez-vous_title">J'ai rdv avec un officier</h2>
                    </div>
                </div>
            </section>

            <section class="margin_bottom tests cell smal l-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="tests_container cell small-12 large-6">
                        <div class="test_img">
                            <img src="/img/Tests3.svg" alt="Tests">
                        </div>
                        <h2 class="title_section tests_title">Je passe les tests</h2>
                    </div>
                    <div class="tests_text cell small-12 large-6">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>

{% endblock %}
