{% extends 'base.html.twig' %}

{% block title %}Processus de recrutement{% endblock %}

{% block body %}
<div class="background">
    <div class="grid-container">
        <div class="recrutement grid-x align-center">
            <div class="edito grid-x grid-padding-x align-middle">
                <div class="cell small-12 medium-6 grid-x">
                    <h1 class="edito__title small-7">Le parcours de recrutement</h1>
                </div>
                <div class="cell small-12 medium-6">
                    <p class="edito__text">Notre parcours de recrutement se découpe en trois étapes successives détaillées ci-dessous. Vous serez tenu au courant du suivi de votre candidature par email.</p>
                </div>
            </div>

            <section class="recrutement_section margin_bottom submit cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="recrutement_container submit_container cell small-12 large-6">
                        <div class="recrutement_img submit_img">
                            <img src="/img/Submit1.svg" alt="rejognez-nous">
                        </div>
                        <h2 class="recrutement_title submit_title">Je soumets ma candidature</h2>
                    </div>
                    <div class="recrutement_text submit_text cell small-12 large-6">
                        <p>Cliquez sur le bouton « Rejoignez-vous » ci-dessous, depuis une fiche métier ou la barre de navigation, pour être redirigés vers le formulaire de candidature. Vous pouvez l’envoyer après avoir rempli vos coordonnées, indiqué le poste convoité, et uploadé un extrait de votre attestation JAPD ainsi que de votre casier judiciaire.</p>
                        <a class="engagez_vous" href="/engagez-vous">Rejoigez-nous</a>
                    </div>
                </div>
            </section>

            <section class="recrutement_section margin_bottom rendez-vous cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="recrutement_text rendez-vous_text cell small-order-2 small-12 large-order-2 large-6">
                        <p>Il faut compter entre 5 et 10 jours avant de reçevoir une réponse à votre candidature. Si cette dernière est retenue, nous vous proposerons une date de rendez-vous afin qu’un officier du CSAF puisse s’entretenir avec vous dans le but d’évaluer votre profil ainsi que vos motivations.</p>
                    </div>
                    <div class="recrutement_container rendez-vous_container cell small-order-1 small-12 large-order-2 large-3 large-offset-3">
                        <div class="recrutement_img submit_img">
                            <img src="/img/Calendar2.svg" alt="prendre rendez-vous">
                        </div>
                        <h2 class="recrutement_title rendez-vous_title">J'ai rdv avec un officier</h2>
                    </div>
                </div>
            </section>

            <section class="recrutement_section margin_bottom tests cell smal l-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="recrutement_container tests_container cell small-12 large-6">
                        <div class="recrutement_img test_img">
                            <img src="/img/Tests3.svg" alt="Tests">
                        </div>
                        <h2 class="recrutement_title tests_title">Je passe les tests</h2>
                    </div>
                    <div class="recrutement_text tests_text cell small-12 large-6">
                        <p>Vous recevrez un email dans les trois semaines suivant votre rendez-vous. Si l’avis de notre officier est favorable, vous serez convié à venir effectuer une série de tests physiques et techniques. Ces derniers s’étalent sur une période de trois mois et constituent la dernière étape du recrutement. S’ils se révèlent positifs, vous rejoindrez officiellement le CSAF pour débuter votre formation militaire d’un an.</p>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</div>
{% endblock %}
