{% extends 'base.html.twig' %}

{% block title %}Recrutement process{% endblock %}
{# {% block title %}Hello {{ controllerName }}!{% endblock %} #}

{% block body %}
<div class="background">
    <div class="grid-container">
        <div class="recrutement grid-x">
            <h1 class="title small-12">Le parcours de recrutement</h1>

            <section class="margin_bottom submit cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="submit_container cell small-12 large-3">
                        <span class="submit_number">1</span>
                        <div class="submit_img">
                            <img src="/img/submit.svg" alt="rejognez-nous">
                        </div>
                        <h2 class="title_section submit_title">Je soumets mon application</h2>
                    </div>
                    <div class="submit_text cell small-12 large-3">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                        <input type="submit" name="rejoindre" id="sumbit_text_input" value="REJOIGNEZ-NOUS">
                    </div>
                </div>
            </section>

            <section class="margin_bottom rendez-vous cell small-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="submit_text cell small-12 large-3">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                    </div>
                    <div class="submit_container cell small-12 large-3">
                        <span class="submit_number">2</span>
                        <div class="submit_img">
                            <img src="/img/calendar.svg" alt="prendre rendez-vous">
                        </div>
                        <h2 class="title_section submit_title">J'ai rdv avec un officier</h2>
                    </div>
                </div>
            </section>

            <section class="margin_bottom tests cell smal l-12 large-12">
                <div class="align-middle align-spaced grid-x">
                    <div class="tests_container cell small-12 large-3">
                        <span class="tests_number">3</span>
                        <div class="test_img">
                            <img src="/img/tests.svg" alt="Tests">
                        </div>
                        <h2 class="title_section tests_title">Je passe les tests</h2>
                    </div>
                    <div class="tests_text cell small-12 large-3">
                        <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}
