{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<section class="mon-compte">
  <div class="grid-container">
    <h2>Bonjour {{ username }},</h2>
    <h3>Voici votre liste de candidatures</h3>
    {% for application in applications %}
        <p>Candidature name: {{ application.firstName }} {{ application.lastName }}</p>
    {% endfor %}
    </div>
</section>
{% endblock %}
